<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
</head>

<body>
  <h2>NHL stats</h2>

   <p> Ordered by: <a href="/points">points</a> &nbsp; <a href="/goals">goals</a> &nbsp; <a href="/assists">assists</a> </p>


</body>
</html>