<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
</head>

<body>
  <h2>NHL statistics - ordered by total points</h2>

  <ol>
    <% @point_order.each do |player| %>

      <li> <%="#{player}"%></li>
    <% end %>
  </ol>


</body>
</html>